html,body {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container{
  min-height: 100%;
  margin-bottom: -20px;
}
/* Side-spacing for mobile*/
.header, .marketing, .footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Makes webapp heading equal height of navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom container size*/
@media (min-width: 768px) {
  .container, .footer{
    max-width: 735px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Center jumbotron message and signup button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron a{
  margin-top: 30px;
}
.jumbotron .btn {
  padding: 15px 25px;
  font-size: 21px;
}

/* Webapp marketing lists */
.appDetails {
  margin: 45px 0;
}
.appDetails p + h4 {
  margin-top: 30px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 32px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.signupUserExists{
  color: red;
}

/* Custom page footer */
.footer {
  height: 20px;
  padding: 20px;
  color: grey;
  border-top: 1px solid #e5e5e5;
  width: 700px;
  margin: 0px auto;
}
