
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Web App</title>
    <link rel="stylesheet" href="../static/css/boot.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/signUp.css"/>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/signIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/" style="text-decoration:none">Python Flask App</a></h3>
      </div>

      <div class="jumbotron">
        <h1>Sign Up</h1>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Name</label>
          <input type="name" name="inputName" class="form-control" placeholder="Name" required autofocus>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>

          <button class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        </form>
      </div>
    </div>
    <div class="pusher">
    </div>
    <footer class="footer">
      <p>&copy; AEY 2018</p>
    </footer>
  </body>
</html>
